body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

section div {
    margin: 20px;
    color: brown;
}

